<p id="notice"><%= notice %></p>

<p>
  <strong>Bank key:</strong>
  <%= @company_bank.bank_key %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @company_bank.bank_name %>
</p>

<p>
  <strong>Encryptkey:</strong>
  <%= @company_bank.encryptkey %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @company_bank.currency %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company_bank.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @company_bank.city %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @company_bank.branch %>
</p>

<p>
  <strong>Branch code:</strong>
  <%= @company_bank.branch_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company_bank.phone %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @company_bank.account_name %>
</p>

<p>
  <strong>Account email:</strong>
  <%= @company_bank.account_email %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @company_bank.account_number %>
</p>

<p>
  <strong>Swiftcode:</strong>
  <%= @company_bank.swiftcode %>
</p>

<p>
  <strong>Ibancode:</strong>
  <%= @company_bank.ibancode %>
</p>

<p>
  <strong>Visa cvv:</strong>
  <%= @company_bank.visa_cvv %>
</p>

<p>
  <strong>Bank category:</strong>
  <%= @company_bank.bank_category %>
</p>

<p>
  <strong>Bank subcategory:</strong>
  <%= @company_bank.bank_subcategory %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @company_bank.fees %>
</p>

<p>
  <strong>Ratio:</strong>
  <%= @company_bank.ratio %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @company_bank.logo.variant(resize: "200x200") %>
  <%# @company_bank.logo %>
</p>

<p>
  <strong>Expire at:</strong>
  <%= @company_bank.expire_at %>
</p>

<p>
  <strong>Status:</strong>
<% if @company_bank.status == 1 %>
<%= "Active" %>
<% elsif @company_bank.status == 0 %>
<%= "Disable" %>
<% end %>
</p>

<%= link_to 'Edit', edit_company_bank_path(@company_bank) %> |
<%= link_to 'Back', company_banks_path %>
