

<!-- ############ PAGE START-->
<div class="row no-gutter">
  <div class="col-sm-3 col-lg-2">
    <div class="p-y">
      <div class="nav-active-border left b-primary">
        <ul class="nav nav-sm flex-column">
          <li class="nav-item">
            <a class="nav-link block active" href data-toggle="tab" data-target="#tab-1">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link block" href data-toggle="tab" data-target="#tab-2">Account Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link block" href data-toggle="tab" data-target="#tab-3">Two Factor Authentication</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10 light lt">
    <div class="tab-content pos-rlt">
      <div class="tab-pane active" id="tab-1">
        <div class="p-a-md dker _600">Public profile</div>
        <%= form_for @user , html: {:class => 'p-a-md col-md-6', :id => "profile_#{@user.id}"} do |form| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                  <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: 
                      <ul>
                          <% @user.errors.full_messages.each do |message| %>
                              <li><%= message %></li>
                          <% end %>
                      </ul>
              </div>
            <% end %>
          <div class="form-group">
            <label>Profile Picture</label>
            <div class="form-file">
              <%= form.file_field :avatar %>
              <button class="btn white">Upload Picture</button>
            </div>
          </div> 
          <div class="form-group">
            <label>Email</label>
            <%= form.text_field :email, type: 'email',class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Username</label>
            <%= form.text_field :username,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>First Name</label>
            <%= form.text_field :firstname,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <%= form.text_field :lastname,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Account Number</label>
            <%= form.text_field :account_number,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>language</label>
            <%= form.text_field :language,class: 'form-control' %>
          </div>
           <div class="form-group">
            <label>Invitation Code</label>
            <%= form.text_field :invitation_code,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Country</label>
            <%= form.select(:country_id,  options_for_select(Country.all.collect {|p| [ p.Full_Name, p.id ] }, :selected => form.object.country_id ) ,{},  :class => 'form-control input-c' ) %>
          </div>
          <div class="form-group">
            <label>Telephone</label>
            <%= form.text_field :telephone,class: 'form-control' %>
            <span  class="mdl-textfield__error" id="wrong_code" style="color:red ; display:none;">Telephone number must be in the same Country</span>
          </div>
          <button type="submit" class="btn btn-info m-t">Update</button>
        <% end %>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="p-a-md dker _600">Account settings</div>
        <%= form_for @user , html: {:class => 'p-a-md col-md-6', :id => "account_#{@user.id}"} do |form| %>
            <% if @user.errors.any? %>
                <div id="error_explanation">
                    <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: 
                       <ul>
                           <% @user.errors.full_messages.each do |message| %>
                               <li><%= message %></li>
                           <% end %>
                       </ul>
                </div>
            <% end %> 
        
          <div class="form-group">
            <label>Secret Code</label>
            <%= form.text_field :secret_code,class: 'form-control' %>
          </div>
           <div class="form-group">
            <label>uuid</label>
            <%= form.text_field :uuid,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Account Currency</label>
            <%= form.select :account_currency, options_for_select( [["USD ",false],["Local Currency",true]], :selected => form.object.account_currency), {}, {:class => 'form-control'} %>
          </div>
          <div class="form-group">
            <label>Role</label>
            <%= form.select :roleid, options_for_select( [["admin","1"],["User","2"]], :selected => form.object.roleid),{}, {:class => 'form-control'} %>
          </div>  
          <div class="form-group">
            <label class="col-sm-2 form-control-label">Account Status</label>
                <label class="ui-switch ui-switch-lg m-t-xs m-r">
                    <%= form.check_box :disabled,{:selected => !(form.object.disabled)},0,1 %>    
                    <i></i>
                </label>
          </div>                  
          <button type="submit" class="btn btn-info m-t" >Update</button>
        <% end %>
      </div>

      <div class="tab-pane" id="tab-3">
      <div class="p-a-md dker _600">Security</div>
      <div class="p-a-md">
        <div class="clearfix m-b-lg">
          <%= form_for @user, html: {:class => 'col-md-6 p-a-0', :id => "authentication_#{@user.id}"}  do |form| %>
            <% if @user.errors.any? %>
               <div id="error_explanation">
                   <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
                   <ul>
                      <% @user.errors.full_messages.each do |message| %>
                         <li><%= message %></li>
                      <% end %>
                   </ul>
               </div>
            <% end %>
          
       <div class="form-group">
            <label class="col-sm-2 form-control-label">Active OTP</label>
                  <div class="col-sm-10">
                        <label>Email Code</label>
                        <label class="ui-switch m-t-xs m-r">
                            <%= form.radio_button :active_otp, '1' %>                                 
                            <i></i>
                        </label>
                        <label>Google Code</label>
                             <label class="ui-switch m-t-xs m-r">
                             <%= form.radio_button :active_otp, '2' %>                                 
                             <i></i>
                        </label>
                  </div>
       </div>  
       <% if @user.otp_secret_key != nil %>
            <div id="qrcode"></div><br><br><br><br><br>
       <% end %>         
            <div id="otp_code_details" style="display:none;">
                <label for="otp_secret_key">OTP Secret Key</label>
                    <input type="text" name="otp_secret_key" id="otp_secret_key"><br>
            </div>
            <div id="verify_form" style="display:none;">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <label>Code</label>
                        <input type="text" name="code" id="verifiy_code" >
                    </div>
                    <div class="col-lg-4">
                       <div  id="wrong_otp_code"; style="display:none; margin-top:30px;"><i class="fa fa-remove" style="color:red;"></i> <span class="text-muted"></span></div>
                       <div  id="correct_otp_code"; style="display:none; margin-top:30px;"><i class="fa fa-check" style="color:green;"></i> <span class="text-muted"></span></div>
                       </div>
                </div>
            </div>         
            <button type="submit" class="btn btn-info m-t" id="edit_setting">Update</button>
        <% end %>
        </div>        
      </div>
    </div>
      
</div>



<!-- ############ PAGE END-->

 