<!-- ############ PAGE START-->
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Users</h2>
      <small>List of all users</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th data-toggle="true">
              Username
              </th>
              <th>
              Email
              </th>
              <th data-hide="phone">
              Account Status
              </th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
              <td><%= user.firstname + " " + user.lastname  %></td>
              <td><%= user.email %></td>
              <!-- <td>Traffic Court Referee</td>
              <td data-value="78025368997">22 Jun 1972</td> -->
              <% if user.status == 1 and user.disabled == 0 %>
                <td data-value="1"><span class="label success" title="Active">Active</span></td>
              <% elsif user.disabled == 1 %>
                <td data-value="2"><span class="label" title="Disabled">Disabled</span></td>
              <% elsif user.status == 0 %>
                <td data-value="3"><span class="label warning" title="Suspended">Suspended</span></td>
              <% end %>
              <td><%= link_to 'Show', user %></td>
              
          </tr>
          <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!-- ############ PAGE END-->