<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @user.id %></span>
          <h3>User Profile</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Username</th>
              <td><%= @user.firstname + " " + @user.lastname %></td>
            </tr>
          </thead>
          <tbody>
          <% if @user.avatar.attached? %>
            <tr>
              <th>Profile Picture</th>
              <td> <%= image_tag @user.avatar.variant(resize: "100x100")  %></td>
            </tr>
          <% end %>
            <tr>
              <th>firstname</th>
              <td> <%= @user.firstname %></td>
            </tr>
            <tr>
              <th>lastname</th>
              <td> <%= @user.lastname %></td>
            </tr>
            <tr>
              <th>Email</th>
              <td> <%= @user.email %></td>
            </tr>
            <tr>
              <th>account_number</th>
              <td> <%= @user.account_number %></td>
            </tr>
            <tr>
              <th>uuid</th>
              <td> <%= @user.uuid %></td>
            </tr>
            <tr>
              <th>telephone</th>
              <td> <%= @user.telephone %></td>
            </tr>
            <tr>
              <th>roleid</th>
              <td> <%= @user.roleid %></td>
            </tr>
            <tr>
              <th>country</th>
              <td> <%= @user.country.Full_Name %></td>
            </tr>
            <tr>
              <th>Account Currency</th>
                <% if !(@user.account_currency)%>
                   <td> <%= "USD" %></td>
                <% else %>
                   <td> <%= @user.country.Currency %></td>
                <% end%>
            </tr> 
          <% if @user.secret_code != nil and @user.secret_code != "" %>                
            <tr>
              <th>Secret Code</th>
              <td><%= "********" + @user.secret_code[@user.secret_code.length - 3 ,3] %></td>
            </tr> 
          <% end %>                
            <tr>
              <th>Active Otp</th>
              <% if @user.active_otp == 1 %>
                  <td> <%= "Email Code" %></td>
              <% elsif @user.active_otp == 2 %>
                  <td> <%= "Google Authentication Code" %></td>
              <% end %>              
            </tr>
            <tr>
              <th>Invitation Code</th>
              <td> <%= @user.invitation_code %></td>
            </tr>
            <tr>
              <th>Invitation Link</th>
              <td><%= "https://clearance.herokuapp.com/affilate-program/" + @user.invitation_code %></td>
            </tr>
            <tr>
                            
            <% if @user.nationalid_verification != nil %>
              <tr>
                 <th>National ID Verification</th>
                 <td> <%= link_to 'show National Id Verification'.html_safe, { :controller => :nationalid_verifications,:action=>:show,:id => @user.nationalid_verification.id} %></td>
              </tr>
            <% end %>
            <% if @user.address_verification != nil %>
              <tr>
                 <th>Address Verification</th>
                 <td><%= link_to 'show Address Verification'.html_safe, { :controller => :address_verifications,:action=>:show,:id => @user.address_verification.id} %></td>
              </tr>
            <% end %>
            <% if @user.selfie_verification != nil %>
              <tr>
                 <th>Selfie Verification</th>
                 <td> <%= link_to 'show Selfie Verification'.html_safe, { :controller => :selfie_verifications,:action=>:show,:id => @user.selfie_verification.id} %></td>
              </tr>
            <% end %>
            <% if current_user.roleid == 1 %>
            <tr>
              <th>Change Account Status</th>
              <% if @user.disabled == 0 %>
                 <td><%= link_to 'Disable User'.html_safe, { :controller => :users,:action=>:lock_unlock_account,:id => @user.id} %></td>
              <% else %>
                 <td><%= link_to 'Enable User'.html_safe, { :controller => :users,:action=>:lock_unlock_account,:id => @user.id} %></td>
              <% end %>
            </tr>
            <% end %>
            <tr>
              <th>Other Links</th>
              <td> <%= link_to 'Edit Profile', edit_user_path(@user) %> - <%= link_to 'show user log'.html_safe, { :controller => :watchdogs,:action=>:user_log,:id => @user.id} %> - <%= link_to 'show user audit log'.html_safe, { :controller => :audit_logs,:action=>:user_audit_log,:id => @user.id} %> - <%= link_to t('show active sessions').html_safe, { :controller => :logins,:action=>:active_sessions,:id => @user.id} %> - </td>
            </tr>
            
                    
           
          </tbody>
        </table>
      </div>
</div>