<h1>Editing Cards Category</h1>

<%= form_with(model: @cards_category, local: true) do |form| %>
    <% if @cards_category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cards_category.errors.count, "error") %> prohibited this cards_category from being saved:</h2>
  
        <ul>
        <% @cards_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :card_value %>
      <%= form.number_field :card_value %>
    </div>
  
    <div class="field">
      <%= form.label :active %>
      <%= form.select :active,options_for_select([['display',1],['hide',0]], :selected => @cards_category.active),  {}, {} %>
    </div>
  
    <div class="field">
      <%= form.label :order %>
      <%= form.select :order, ((1..20).map {|i| [i,i] }), {:include_blank => 'select order'} %>
      <%# form.number_field :order %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  

<%= link_to 'Show', @cards_category %> |
<%= link_to 'Back', cards_categories_path %>
