<p id="notice"><%= notice %></p>

<p>
  <strong>Card value:</strong>
  <%= @cards_category.card_value %>
</p>

<p>
  <strong>Active:</strong>
  <%= @cards_category.active %>
</p>

<p>
  <strong>Order:</strong>
  <%= @cards_category.order %>
</p>

<%= link_to 'Edit', edit_cards_category_path(@cards_category) %> |
<%= link_to 'Back', cards_categories_path %>
