<p id="notice"><%= notice %></p>

<h1>Admin Logins</h1>

<table>
  <thead>
    <tr>
      <th>Admin</th>
      <th>Ip address</th>
      <th>User agent</th>
      <th>Device</th>
      <th>Operation type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_logins.each do |admin_login| %>
      <tr>
        <td><%= admin_login.admin %></td>
        <td><%= admin_login.ip_address %></td>
        <td><%= admin_login.user_agent %></td>
        <td><%= admin_login.device_id %></td>
        <td><%= admin_login.operation_type %></td>
        <td><%= link_to 'Show', admin_login %></td>
        <td><%= link_to 'Edit', edit_admin_login_path(admin_login) %></td>
        <td><%= link_to 'Destroy', admin_login, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Login', new_admin_login_path %>
