<h1>Verify SMS Code</h1>

<%= form_tag  url_for(:controller => 'user_wallets', :action => 'verifysms_post'), :method => 'post' do %>

    <h4><%= t('SMS Code') %></h4>
    <%= number_field_tag :code %>
  
  
    <div style="margin-top:20px;">
        <button type="submit" ><%= t('Verify Code') %> </button>
    </div>
  
  <% end %>