<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Tickets</h2>
      <small>List of all Tickets</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/>
      <% if current_user and current_user.roleid == 1 %>
      <%= link_to 'New Tickets', new_ticket_path, {:class => 'btn btn-fw accent',:style => "margin-left:800px;"}%>
      <% end %>
    </div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>Number</th>
      <th>Title</th>
      <th>Content</th>
      <th>Attachment</th>
      <th>Status</th>
      <th>Evaluation</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.user_id %></td>
        <td><%= ticket.user.firstname + " " + ticket.user.lastname  %></td>
        <td><%= ticket.number %><%= ticket.id %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.content %></td>
        <td><%= ticket.attachment %></td>

        <% if ticket.status == "Closed" %>
        <td><span class="label black" title="Closed">Closed</span></td>
        <% elsif ticket.status == "Answered" %>
        <td><span class="label success" title="Answered">Answered</span></td>
        <% elsif ticket.status == "Open" %>
        <td><span class="label blue" title="Open">Open</span></td>
        <% elsif ticket.status == "OnHold" %>
        <td><span class="label danger" title="OnHold">OnHold</span></td>
        <% end %>

        <% if ticket.evaluation != nil %>
        <td><%= ticket.evaluation %></td>
        <% else %>
        <td><%= "-" %></td>
        <% end %>
        
        <td><a href="tickets/<%= ticket.id %>" class="label primary">Show</a></td>
        <% if ticket.status != "Closed" %>
        <td><a href="/close_ticket?id=<%= ticket.id %>" class="label black">Close Ticket</a></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    <tfoot class="hide-if-no-paging">
    <tr>
        <td colspan="5" class="text-center">
            <ul class="pagination"></ul>
        </td>
    </tr>
    </tfoot>
    </table>
    </div>
    </div>
    </div>
