<div class="padding">
  <div class="box">
    <div class="box-header">
      <h6 class="m-b">Tickets </h6>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="b-b b-primary nav-active-primary">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href data-toggle="tab" data-target="#tab4">Ticket info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href data-toggle="tab" data-target="#tab5">The replies of this ticket</a>
            </li>
          </ul>
        </div>
        <div class="tab-content p-a m-b-md">
          <div class="tab-pane animated fadeIn text-muted active" id="tab4">
              <table class="table">
                <thead>
                  <tr>
                    <th>User Name</th>
                    <td><%= @ticket.user.firstname + " " + @ticket.user.lastname  %></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>User ID</th>
                    <td> <%= @ticket.user.id %></td>
                  </tr>
                  <tr>
                    <th>Number</th>
                    <td><%= @ticket.number %><%= @ticket.id %></td>
                  </tr>
                  <tr>
                  <th>Title</th>
                  <td><%= @ticket.title %></td>
                </tr>
                <tr>
                  <th>Content</th>
                  <td><%= @ticket.content %></td>
                </tr>
                <tr>
                  <th>Attachment</th>
                  <td><%= @ticket.attachment %></td>
                </tr>
                <tr>
                  <th>Status</th>
                  <% if @ticket.status == "Closed" %>
                  <td><span class="label black" title="Closed">Closed</span></td>
                  <% elsif @ticket.status == "Answered" %>
                  <td><span class="label success" title="Answered">Answered</span></td>
                  <% elsif @ticket.status == "Open" %>
                  <td><span class="label blue" title="Open">Open</span></td>
                  <% elsif @ticket.status == "OnHold" %>
                  <td><span class="label danger" title="OnHold">OnHold</span></td>
                  <% end %>
                </tr>
                <tr>
                  <th>Evaluation</th>
                  <% if @ticket.evaluation != nil %>
                  <td><%= @ticket.evaluation %></td>
                  <% else %>
                  <td><%= "-" %></td>
                  <% end %>
                </tr>     
                </tbody>
              </table>
              <% if @ticket.status != "Closed" %>
          <td><a href="/close_ticket?id=<%= @ticket.id %>" class="btn btn-fw black">Close Ticket</a></td>
          <% end %>
          </div>
          <div class="tab-pane animated fadeIn text-muted" id="tab5">
           

              <div class="col-sm-6">
                <div class="box">
                  <div class="box-header dker">
                    <h3><%= @ticket.user.firstname + " " + @ticket.user.lastname  %></h3>
                    <small><%= @ticket.created_at %></small>
                  </div>
                  <div class="box-body">
                    <p class="m-0"><%= @ticket.content %></p>
                  </div>
                </div>
              </div>

            <% @ticket_reply.each do |ticket| %>
            <% if ticket.sender_type == "Payers Support" %>
            <div class="col-sm-6">
              <div class="box">
                <div class="box-header accent">
                  <h3>Payers Support</h3>
                  <small><%= ticket.created_at %></small>
                </div>
                <div class="box-body">
                  <p class="m-0"><%= ticket.content %></p>
                </div>
              </div>
            </div>
            <% elsif ticket.sender_type == "User" %>
            <div class="col-sm-6">
              <div class="box">
                <div class="box-header dker">
                  <h3><%= @ticket.user.firstname + " " + @ticket.user.lastname  %></h3>
                  <small><%= ticket.created_at %></small>
                </div>
                <div class="box-body">
                  <p class="m-0"><%= ticket.content %></p>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>

            <%= form_for TicketReply.new, url: '/tickets/reply' do |form| %>
              <%= form.hidden_field :ticket_id, value: @ticket.id %>
                <div class="form-group row">
                  <div class="col-sm-10">
                  <%= form.text_area :content , class: 'form-control'%>
                  </div>
                </div>
                <div class="form-group row m-t-md">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-fw primary" id="submit" >Reply</button>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Edit', edit_ticket_path(@ticket) %> |
          <%= link_to 'Back', tickets_path %>
</div>







