<div class="padding">
  <div class="box">
    <div class="box-header">
      <h6 class="m-b">Tickets Statistics</h6>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="b-b b-primary nav-active-primary">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href data-toggle="tab" data-target="#tab4">Admins replies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href data-toggle="tab" data-target="#tab5">Tickets departments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href data-toggle="tab" data-target="#tab6">Tickets status</a>
            </li>
          </ul>
        </div>
        <div class="tab-content p-a m-b-md">
          <div class="tab-pane animated fadeIn text-muted active" id="tab4">
            <small>Number of responses per admin</small>
            <div class="box-body">
              Search: <input id="filter1" type="text" class="form-control input-sm w-auto inline m-r"/>
            </div>
            <table class="table m-b-none" ui-jp="footable" data-filter="#filter1" data-page-size="5">
              <thead>
                <tr>
                    <th data-toggle="true">
                    Admin name
                    </th>
                    <th>
                    Number of responses
                    </th>
                </tr>
              </thead>
              <tbody>
              <% @admin_reply.each do |k,v| %>
                <tr>
                    <td><%= "#{k}"  %></td>
                    <td><%= "#{v}" %></td>
                </tr>
                <% end %>
              </tbody>
              <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="5" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="tab-pane animated fadeIn text-muted" id="tab5">
            <small>Number of tickets per department</small>
            <div class="box-body">
              Search: <input id="filter2" type="text" class="form-control input-sm w-auto inline m-r"/>
            </div>
            <div>
              <table class="table m-b-none" ui-jp="footable" data-filter="#filter2" data-page-size="5">
                <thead>
                  <tr>
                      <th data-toggle="true">
                      Department
                      </th>
                      <th>
                      Number of tickets
                      </th>
                  </tr>
                </thead>
                <tbody>
                <% @number_of_tickets_per_department.each do |k,v| %>
                  <tr>
                      <td><%= "#{k}"  %></td>
                      <td><%= "#{v}" %></td>
                  </tr>
                  <% end %>
                </tbody>
                <tfoot class="hide-if-no-paging">
                  <tr>
                      <td colspan="5" class="text-center">
                          <ul class="pagination"></ul>
                      </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="tab-pane animated fadeIn text-muted" id="tab6">
            <div class="col-sm-6">
              <div class="box">
                <div class="box-header">
                  <small>Number of tickets per status</small>
                </div>
                <div class="box-body">
                  <div ui-jp="chart" ui-options=" {
                    tooltip : {
                        trigger: 'item',
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        data:[<% @tickets_type.each do |k,v| %> '<%= k %>', <% end %>]
                    },
                      
                    series : [
                        {
                            name:'Tickets : <%= @tickets_number %>',
                            type:'pie',
                            radius : '60%',
                            center: ['50%', '60%'],
                            data:[ <% @tickets_type.each do |k,v| %>
                                {value:<%= v %>, name:'<%= k %>'},
                                <% end %>
                            ]
                        }
                    ]
                  }" style="height:300px" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




