<p id="notice"><%= notice %></p>

<h1>User Addresses</h1>

<table>
  <thead>
    <tr>
      <th>User-ID</th>
      <th>Address</th>
      <th>Country</th>
      <th>Governorate</th>
      <th>City</th>
      <th>Street</th>
      <th>Default-address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.user_id %></td>
        <td><%= address.address %></td>
        <td><%= address.country %></td>
        <td><%= address.governorate %></td>
        <td><%= address.city %></td>
        <td><%= address.street %></td>
        <% if address.default_address == true %>
        <td><button>Default</button></td>
        <% else %>
        <td><%= "-" %></td>
        <% end %>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', addresses_path %> | <%= link_to 'New Address', new_address_path %>
