<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <h3>Card Details</h3>
        </div>
        <table class="table">
          <thead>
          <% if @card.user_id != 0 %>
            <tr>
            <th>Username</th>
            <td><%= @card.user.firstname + " " +  @card.user.lastname   %></td>
            </tr>
          <% end %>
          </thead>
          <tbody>
            <tr>
              <th>Number</th>
              <td>  <% if @card.status == 3 %>
              <%= "****-****-****-****" %>
              <% else %>
              <%= @card.number.scan(/.{1,4}/).join('-') %>
              <% end %></td>
            </tr>
            <tr>
              <th>Value</th>
              <td> <%= @card.value %></td>
            </tr>
            <tr>
              <th>Status</th>
              <td>  <% if @card.status == 1 %>
              <%= "Active" %>
                <% elsif @card.status == 2 %>
                <%= "Charged" %>
                <% elsif @card.status == 3 %>
                <%= "pending" %>
                <% elsif @card.status == 4 %>
                <%= "disabled" %>
                <% end %></td>
            </tr>
            <tr>
              <th>Expired at:</th>
              <td> <%= @card.expired_at %></td>
            </tr>
            <% if @card.operation_id != nil %>
            <tr>
              <th>Operation Id</th>
              <td> <%= @card.operation_id %></td>
            </tr>
            <% end %>
            <tr>
              <th>Card Type</th>
              <td>  <% if @card.card_type == 1 %>
              <%= "For spacific user" %>
            <% elsif @card.card_type == 2 %>
              <%= "For spacific country" %>
            <%# elsif @card.card_type == 3 %>
              <%# "Public" %>
            <% end %></td>
            </tr>
            <% if @card.card_type == 2 %>
            <tr>
              <th>Country</th>
              <td> <%= Country.where(id:@card.country_id).pluck(:Full_Name).first %></td>
            </tr>
            <% end %> 
            <tr>
            <th>Invoice ID</th>
            <td> <%= @card.invoice_id %></td>
            </tr>
            <% if @card.note != nil %>  
            <tr>
            <th>Note</th>
            <td> <%= @card.note %></td>
            </tr>  
            <% end %>     
          </tbody>
        </table>
        <% if @card.card_type == 2 && @card.status == 1  && @card.note == nil %>
        <div class="box-body">
        <%= form_for :send_card ,:url => send_card_path,:html => { :multipart => true } do |f| %>
              <%=  f.hidden_field :card_number, :value => @card.number.scan(/.{1,4}/).join('-') %>
              <%=  f.hidden_field :card_value, :value => @card.value %>
              <%=  f.hidden_field :card_id, :value => @card.id %>
              <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Send This Card To a User</label>
                  <div class="col-sm-10">
                      <%= f.text_field :user_email , class: 'form-control' , :required => true , :placeholder => 'Add User Email Here' %>
                  </div>
              </div>

              <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Send a Message With This Card</label>
                  <div class="col-sm-10">
                      <%= f.text_area :admin_msg , class: 'form-control' , :required => true , :placeholder => 'Add Message Here' %>
                  </div>
              </div>

              <div class="form-group row m-t-md">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                  </div>
              </div>
        <% end %>
      </div>
      <% end %>
    </div>
      
<%= link_to 'Back', cards_path %>
</div>