<div class="padding">
    <div class="box">
        <div class="box-header">
             <h2>New Money Operation</h2>
        </div>
        <div class="box-divider m-0"></div>
            <div class="box-body">
                <%= form_with(model: @money_op, local: true) do |form| %>
                    <% if @money_op.errors.any? %>
                         <div id="error_explanation">
                             <%= pluralize(@money_op.errors.count, "error") %> prohibited this money op from being saved: 
                             <ul>
                                <% @money_op.errors.full_messages.each do |message| %>
                                   <li><%= message %></li>
                                <% end %>
                             </ul>
                         </div>
                    <% end %>                                       
                    <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Operation type</label>
                       <div class="col-sm-10">
                       <%= form.select :optype,options_for_select([['Sent',1],['Receive',2],['Withdraw',3],['Remittance',4]]),  {:include_blank => 'select type'},{:class => 'form-control c-select'} %>
                       </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Amount</label>
                            <div class="col-sm-10">
                                <%= form.text_field :amount , class: 'form-control' , :required => true %>
                            </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">Fees</label>
                            <div class="col-sm-10">
                                <%= form.text_field :fees , class: 'form-control' , :required => true %>
                            </div>
                    </div>
                    <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Payment Gateway</label>
                        <div class="col-sm-10">
                            <%= form.text_field :payment_gateway , class: 'form-control' , :required => true %>
                        </div>
                    </div>
                    <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Status</label>
                       <div class="col-sm-10">
                       <%= form.select :status,options_for_select([['Pending',0],['Compeleted',1]]),  {:include_blank => 'select status'} ,{:class => 'form-control c-select'} %>
                       </div>
                    </div>
                    <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Payment Date</label>
                        <div class="col-sm-10">
                            <%= form.date_field :payment_date , class: 'form-control' , :required => true %>
                        </div>
                    </div>
                    <div class="form-group row">
                    <label class="col-sm-2 form-control-label">Payment ID</label>
                        <div class="col-sm-10">
                            <%= form.text_field :payment_id, type: 'number' , class: 'form-control', :required => true %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label">User ID</label>
                            <div class="col-sm-10">
                                <%= form.text_field :user_id, type: 'number' , class: 'form-control', :required => true %>
                            </div>
                    </div>

                    <div class="form-group row m-t-md">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
                        </div>
                    </div>
                <% end %>
            </div>
    </div>
    <%= link_to 'Back', money_ops_path %>
</div>
</div>